<ion-header>
  <ion-navbar>
    <ion-title>FRC Team {{ team.team_number }} - Awards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="checkScroll($event)">
  <ion-card *ngFor="let award of awards">
    <ion-card-header>
      {{ award.year }} - {{ award.name }}
    </ion-card-header>
    <ion-card-content>
      <div>
        {{ award.event_key }}
      </div>
      <div>
        Recipients: <span *ngFor="let recipient of award.recipient_list">{{ recipient.team_number }} </span>
      </div>
    </ion-card-content>
  </ion-card>
  <button ion-button icon-only id="scroll-top-awards" (click)="scrollToTop()" class="hidden scroll" color="caution">
    <ion-icon name="arrow-up"></ion-icon>
  </button>
</ion-content>
