.bithoundrc
.idea/
hooks/
platforms/
cordova-plugin-device-orientation/
cordova-plugin-media-capture/
cordova-plugin-battery-status/
cordova-plugin-dialogs/
cordova-plugin-network-information/
cordova-plugin-camera/
cordova-plugin-file/
cordova-plugin-statusbar/
cordova-plugin-compat/
cordova-plugin-file-transfer/
cordova-plugin-vibration/
cordova-plugin-console/
cordova-plugin-geolocation/
cordova-plugin-whitelist/
cordova-plugin-contacts/
cordova-plugin-globalization/
cordova-plugin-device/
cordova-plugin-inappbrowser/
cordova-plugin-device-motion/
cordova-plugin-media/