<ion-header>
  <ion-navbar>
    <ion-title>
      Team - {{ team.team_number }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="checkScroll($event)">

  <div class="team-profile-header">
    <img class="team-photo-bg" src="assets/teams_picture.jpg"/>
    <div class="flex-content">
      <div class="team-photo-container" tappable (click)="openPictureSheet()">
        <img class="team-photo" src="assets/option-robots.png" *ngIf="!base64_string"/>
        <img class="team-photo" src="{{ base64_string }}" *ngIf="base64_string"/>
      </div>
      <div class="team-header-info">
        <span class="team-nickname">{{ team.nickname }}</span>
        <span class="team-location">{{ team.locality }}, {{ team.region }}</span>
        <span><a href="{{ team.website }}">{{ team.website }}</a></span>
      </div>
    </div>
  </div>

  <ion-grid class="team-profile-buttons">
    <ion-row>
      <ion-col class="flex-center" width-25>
        <button ion-button full color="secondary" class="profile-button" (click)="showAbout()" id="about-btn">
          <div class="profile-button-content">
            <span class="fa fa-2x fa-question-circle"></span>
            <span>About</span>
          </div>
        </button>
      </ion-col>
      <ion-col class="flex-center" width-25>
        <button ion-button full color="danger" class="profile-button" (click)="showPitInfo()" id="pit-btn">
          <div class="profile-button-content">
            <span class="fa fa-2x fa-cloud"></span>
            <span>Pit Info</span>
          </div>
        </button>
      </ion-col>
      <ion-col class="flex-center" width-25>
        <button ion-button full color="orange" class="profile-button" (click)="showAwards()" id="awards-btn">
          <div class="profile-button-content">
            <span class="fa fa-2x fa-trophy"></span>
            <span>Awards</span>
          </div>
        </button>
      </ion-col>
      <ion-col class="flex-center" width-25>
        <button ion-button full color="primary" class="profile-button" (click)="showEvents()" id="events-btn">
          <div class="profile-button-content">
            <span class="fa fa-2x fa-calendar"></span>
            <span>Events</span>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="about-content" class="team-profile-content" *ngIf="view=='about'">

    <ion-card>
      <ion-card-header class="team-content-header">
        <span class="team-content-header-title">{{ team.nickname }}</span>
        <span class="team-content-header-subtitle" *ngIf="team.motto">"{{ team.motto }}"</span>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <b>Region:</b> {{ team.region }} ({{ team.locality }})
          </ion-item>
          <ion-item>
            <b>Years in FRC:</b> {{ team.years }}
          </ion-item>
          <ion-item>
            <b>Rookie Year:</b> {{ team.rookie_year }}
          </ion-item>
          <ion-item text-wrap>
            <b>Sponsors:</b> {{ team.name }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>

  <div id="awards-content" class="team-profile-content" *ngIf="view=='awards'">

    <ion-card *ngFor="let award of team.awards">
      <ion-card-header class="team-content-header">
        <span class="team-content-header-title">{{ convert(award.name) }}</span>
        <span class="team-content-header-subtitle">{{ award.year }} - {{ award.event_name }}</span>
      </ion-card-header>
      <ion-card-content>
        <div>
          Recipients: <span *ngFor="let recipient of award.recipient_list">{{ recipient.team_number }} </span>
        </div>
      </ion-card-content>
    </ion-card>

  </div>

  <div id="events-content" class="team-profile-content" *ngIf="view=='events'">

    <ion-card *ngFor="let event of team.events">
      <ion-card-header class="team-content-header">
        <span class="team-content-header-title">{{ event.short_name }} {{ event.event_type_string }} Event</span>
        <span class="team-content-header-subtitle" *ngIf="event.week">{{ event.year }} - Week {{ event.week }}</span>
        <span class="team-content-header-subtitle" *ngIf="!event.week">{{ event.year }}</span>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <div>Location: {{ event.location }}</div>
            <div>Website: <a href="{{ event.website }}">{{ event.website }}</a></div>
            <div>Date: {{ event.start_date }} - {{ event.end_date }}</div>
            <button ion-button clear item-right>View</button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>

  <button ion-button icon-only id="scroll" (click)="scrollToTop()" class="hidden" color="primary">
    <ion-icon name="arrow-up"></ion-icon>
  </button>

</ion-content>
