page-my-event {

  .clear-event {
    margin: 0 !important;
  }

  .item-cover {
    width: auto !important;
    position: relative;
  }

  ion-select {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}
