<ion-header>
  <ion-navbar>
    <ion-title>
      Open an Event File
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!event_files">
    <span>There are currently no strategy files saved to your device.</span>
  </div>

  <div *ngIf="event_files">
    <ion-list>
      <ion-item *ngFor="let file of event_files" text-wrap>
        <div class="file-name">{{ file.name }}</div>
        <div class="file-path" *ngIf="!file.modificationTime">Last Modified:</div>
        <div class="file-path" *ngIf="!file.size">Size:</div>
        <div class="file-path" *ngIf="file.modificationTime">Last Modified: {{ file.modificationTime.getMonth() + 1 }}/{{ file.modificationTime.getDate() }}/{{ file.modificationTime.getFullYear() }} - {{ file.modificationTime.toLocaleTimeString() }}</div>
        <div class="file-path" *ngIf="file.size">Size: {{ file.size*0.001 }} KB</div>
        <button ion-button clear item-right class="open" (click)="selectAndDismiss(file)">Open</button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
