<ion-grid id="canvas-menu">
  <ion-row>
    <ion-col id="view-menu" class="canvas-menu-item" (click)="togglePalette(4)">
      <button ion-button clear color="light" class="canvas-menu-item" >
        <span class="fa fa-hand-paper-o"></span>
      </button>
    </ion-col>
    <ion-col id="draw-menu" class="canvas-menu-item active-item" (click)="togglePalette(0)">
      <button ion-button clear color="light" class="canvas-menu-item" >
        <span class="fa fa-pencil "></span>
      </button>
    </ion-col>
    <ion-col id="field-menu" class="canvas-menu-item" (click)="togglePalette(1)">
      <button ion-button clear color="light" class="canvas-menu-item" >
        <span class="fa fa-futbol-o "></span>
      </button>
    </ion-col>
    <ion-col id="robot-menu" class="canvas-menu-item" (click)="togglePalette(2)">
      <button ion-button clear color="light" class="canvas-menu-item" >
        <span class="fa fa-android "></span>
      </button>
    </ion-col>
    <ion-col id="save-menu" class="canvas-menu-item" (click)="togglePalette(3)">
      <button ion-button clear color="light" class="canvas-menu-item" >
        <span class="fa fa-save "></span>
      </button>
    </ion-col>
    <ion-col id="open-menu" class="canvas-menu-item" (click)="togglePalette(5)">
      <button ion-button clear color="light" class="canvas-menu-item" >
        <span class="fa fa-folder-open "></span>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content id="canvas-scroll" scrollY="true">
  <ion-fab id="undo" right top class="fixed-fab">
    <button ion-fab mini color="light" (click)="undoState()"><span class="fa fa-undo"></span></button>
  </ion-fab>
  <ion-fab id="clear" right top class="fixed-fab">
    <button ion-fab mini color="light" (click)="confirmClear()"><span class="fa fa-trash"></span></button>
  </ion-fab>
  <!--<ion-fab id="redo" right top class="fixed-fab flip-x">-->
    <!--<button ion-fab mini color="light" (click)="redoState()"><span class="fa fa-undo"></span></button>-->
  <!--</ion-fab>-->
  <div id="canvas" (click)="clearVisiblePalettes()">
    <ion-img id="canvas-bg" src="assets/2016-field-large.png"></ion-img>
    <canvas id="actual-canvas">
      Nope.
    </canvas>
  </div>
</ion-content>

<div id="draw-palette" class="palette hidden" padding>
  <div class="popover-header">
    <h3>Draw Options</h3>
  </div>

  <ion-list>
    <ion-item>
      <ion-range min="0" max="255" [(ngModel)]="red" color="red" (ionChange)="updateRed()" color="danger">
        <ion-label range-left color="danger">R</ion-label>
        <ion-label range-right color="danger" id="red-val"></ion-label>
      </ion-range>
      <!--<ion-badge item-right id="red-val" color="danger"></ion-badge>-->
    </ion-item>
    <ion-item>
      <ion-range min="0" max="255" [(ngModel)]="green" color="green" (ionChange)="updateGreen()" color="secondary">
        <ion-label range-left color="secondary">G</ion-label>
        <ion-label range-right color="secondary" id="green-val"></ion-label>
      </ion-range>
      <!--<ion-badge item-right id="green-val" color="secondary"></ion-badge>-->
    </ion-item>
    <ion-item>
      <ion-range min="0" max="255" [(ngModel)]="blue" color="blue" (ionChange)="updateBlue()" color="primary">
        <ion-label range-left color="primary">B</ion-label>
        <ion-label range-right color="primary" id="blue-val"></ion-label>
      </ion-range>
      <!--<ion-badge item-right id="blue-val" color="primary"></ion-badge>-->
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-segment [(ngModel)]="drawingValue" color="primary">
        <ion-segment-button value="pencil" (ionSelect)="changeDrawMode(0)">
          Pencil
        </ion-segment-button>
        <ion-segment-button value="line" (ionSelect)="changeDrawMode(1)">
          Line
        </ion-segment-button>
        <ion-segment-button value="eraser" (ionSelect)="changeDrawMode(2)">
          Eraser
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-range min="1" max="10" [(ngModel)]="size" (ionChange)="updateBrushSize()">
          <ion-label range-left color="primary">Size</ion-label>
          <ion-label range-right color="primary" id="size-val"></ion-label>
        </ion-range>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-20 center>
        <div>
          Result:
        </div>
      </ion-col>
      <ion-col width-80>
        <div id="color-val">

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div id="field-palette" class="palette hidden" padding>
  <div>
    <h3>Field Menu</h3>
  </div>
  <div class="field-item-row">
    <div class="field-item" (click)="selectFieldObject($event)">
      <img src="assets/objects/2016/ball.png"/>
    </div>
    <div class="field-item" (click)="selectFieldObject($event)">
      <img src="assets/objects/2016/ball.png"/>
    </div>
  </div>
</div>

<div id="robot-palette" class="palette hidden" padding>
  <div>
    <h3>Robot Menu <span *ngIf="my_comp">- {{ my_comp.short_name }}</span></h3>
  </div>
  <div *ngIf="my_comp">
    <ion-grid>
      <ion-row>
        <ion-label>Import from your event</ion-label>
        <ion-select [(ngModel)]="my_match_key" placeholder="Select Your Match" (ionChange)="getMatch()" multiple="false">
          <ion-option *ngFor="let match of my_comp.matches" value="{{ match.key }}">
            <!--{{ match.alliances.red.teams[0] }}-{{ match.alliances.red.teams[1] }}-{{ match.alliances.red.teams[2] }}-{{ match.alliances.blue.teams[0] }}-{{ match.alliances.blue.teams[1] }}-{{ match.alliances.blue.teams[2] }}-->
            <div>
              {{ match.comp_level.toUpperCase() }} {{ match.match_number }}
            </div>
          </ion-option>
        </ion-select>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="my_match">
    <div id="red-robots" class="robot-row">
      <div class="red-robot robot" (click)="selectTeam($event)">
        {{ my_match.alliances.red.teams[0].replace("frc", "") }}
      </div>
      <div class="red-robot robot" (click)="selectTeam($event)">
        {{ my_match.alliances.red.teams[1].replace("frc", "") }}
      </div>
      <div class="red-robot robot" (click)="selectTeam($event)">
        {{ my_match.alliances.red.teams[2].replace("frc", "") }}
      </div>
    </div>
    <div id="blue-robots" class="robot-row">
      <div class="blue-robot robot" (click)="selectTeam($event)">
        {{ my_match.alliances.blue.teams[0].replace("frc", "") }}
      </div>
      <div class="blue-robot robot" (click)="selectTeam($event)">
        {{ my_match.alliances.blue.teams[1].replace("frc", "") }}
      </div>
      <div class="blue-robot robot" (click)="selectTeam($event)">
        {{ my_match.alliances.blue.teams[2].replace("frc", "") }}
      </div>
    </div>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-label>Add a robot manually</ion-label>
      </ion-row>
      <ion-row>
        <ion-input [(ngModel)]="robot_team_number" type="number" placeholder="e.g. 3618"></ion-input>
        <ion-select [(ngModel)]="robot_team_alliance" placeholder="Choose Alliance">
          <ion-option value="red-robot">Red Alliance</ion-option>
          <ion-option value="blue-robot">Blue Alliance</ion-option>
        </ion-select>
        <button ion-button icon-only (click)="addRobot()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-row>
    </ion-grid>
  </div>
  <div id="manual-robots">
    <div class="robot-row">
      <div class="robot" (click)="selectTeam($event)" *ngIf="robots[0]">
        {{ robots[0].team_number }}
      </div>
      <div class="robot" (click)="selectTeam($event)" *ngIf="robots[1]">
        {{ robots[1].team_number }}
      </div>
      <div class="robot" (click)="selectTeam($event)" *ngIf="robots[2]">
        {{ robots[2].team_number }}
      </div>
    </div>
    <div class="robot-row">
      <div class="robot" (click)="selectTeam($event)" *ngIf="robots[3]">
        {{ robots[3].team_number }}
      </div>
      <div class="robot" (click)="selectTeam($event)" *ngIf="robots[4]">
        {{ robots[4].team_number }}
      </div>
      <div class="robot" (click)="selectTeam($event)" *ngIf="robots[5]">
        {{ robots[5].team_number }}
      </div>
    </div>
  </div>
</div>
