<ion-header>
  <ion-navbar>
    <ion-title>
      Search Teams and Events
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary">
        <ion-icon name="folder-open"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div id="teams" class="option-container">
    <div class="option-overlay">
      <button ion-button clear color="light" class="option-text" (click)="showTeams()">Teams</button>
    </div>
    <ion-img id="team-img"  class="filtered-img" src="assets/teams_picture.jpg"></ion-img>
  </div>

  <div id="events"  class="option-container">
    <div class="option-overlay light">
      <button ion-button clear color="light" class="option-text" (click)="showEvents()">Events</button>
    </div>
    <ion-img id="event-img" class="filtered-img" src="assets/events_picture.jpg"></ion-img>
  </div>

  <div id="teams_search" class="search-palette hidden">
    <ion-card>
      <ion-card-header class="primary-bg light">Search For FRC Team By Number</ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input type="number" placeholder="e.g. 4003" [(ngModel)]="team_number"></ion-input>
            </ion-col>
            <ion-col class="flex-right">
              <button ion-button (click)="openTeamPage()">Search</button>
            </ion-col>
          </ion-row>
          <ion-row center>
            <ion-col class="flex-center">
              <button ion-button block (click)="resetEventView()" color="danger" class="cancel-btn">Cancel</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="events_search" class="search-palette hidden">
    <ion-card>
      <ion-card-header class="primary-bg light">Search For FRC Events</ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col width-15>
              <ion-label>Year</ion-label>
            </ion-col>
            <ion-col width-25>
              <ion-select [(ngModel)]="event_year" (ionChange)="getDistricts()">
                <ion-option value="2017">2017</ion-option>
                <ion-option value="2016">2016</ion-option>
                <ion-option value="2015">2015</ion-option>
                <ion-option value="2014">2014</ion-option>
                <ion-option value="2013">2013</ion-option>
                <ion-option value="2012">2012</ion-option>
                <ion-option value="2011">2011</ion-option>
                <ion-option value="2010">2010</ion-option>
              </ion-select>
            </ion-col>
            <ion-col width-30>
              <ion-label>District</ion-label>
            </ion-col>
            <ion-col width-30>
              <div *ngIf="loading_districts">
                <ion-spinner></ion-spinner>
                <!--<p class="loading-text">Loading<span>.</span><span>.</span><span>.</span></p>-->
              </div>
              <ion-select *ngIf="districts" [(ngModel)]="event_district" (ionChange)="getDistrictEvents()">
                <ion-option *ngFor="let district of districts" value="{{ district.key }}">{{ district.name }}</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-30>
              <ion-label>Event</ion-label>
            </ion-col>
            <ion-col width-70 class="flex-right">
              <div *ngIf="loading_events">
                <ion-spinner></ion-spinner>
                <!--<p class="loading-text">Loading<span>.</span><span>.</span><span>.</span></p>-->
              </div>
              <ion-select *ngIf="events" [(ngModel)]="event_key">
                <ion-option *ngFor="let event of events" value="{{ event.key }}">{{ event.short_name }}</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row center>
            <ion-col class="flex-center">
              <button ion-button block (click)="openEventPage()" color="primary" class="cancel-btn">Search</button>
            </ion-col>
            <ion-col class="flex-center">
              <button ion-button block (click)="resetTeamView()" color="danger" class="cancel-btn">Cancel</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
