<ion-header>
  <ion-navbar>
    <ion-title>{{ event.short_name }} Matches</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="matchFilter.filterMatches($event)"></ion-searchbar>
  <ion-list [virtualScroll]="matchFilter.getFilteredData()">
    <ion-list-header>
      Upcoming Matches
    </ion-list-header>
    <ion-item *virtualItem="let match" (approxItemHeight)="150">
      <span>
        <b>{{ matchConverter.convert(match) }}</b>
      </span>
      <ion-grid>
        <ion-row>
          <ion-col item-left>
            <span *ngFor="let team of match.alliances.red.teams">{{ team.substring(3, team.length) }} </span>
          </ion-col>
          <ion-col item-right>
            <span *ngFor="let team of match.alliances.blue.teams">{{ team.substring(3, team.length) }} </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col item-left>
            <span class="red-score">{{ match.score_breakdown.red.totalPoints }}</span>
          </ion-col>
          <ion-col item-right>
            <span class="blue-score">{{ match.score_breakdown.blue.totalPoints }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <button id="scroll" ion-button icon-only (click)="scrollToTop()" class="hidden">
    <ion-icon name="arrow-up"></ion-icon>
  </button>

</ion-content>
