.event-header {
  width: 100%;
}

.event-name {
  font-weight: bold;
  width: 100%;
}

.loading {
  width: 100%;
  text-align: center;
}

.space-holder {
  height: 30px !important;
  width: 100%;
}

.label {
  margin: 0 !important;
}

.team-event {
  margin: 8px 0 0 0 !important;
  padding-left: 5px !important;
  border-left: 4px solid #bd2c00;
}

.alt-bg:nth-child(even) {
  background-color: #b0b0b0;
}

.alt-bg:nth-child(odd) {
  background-color: #d3d3d3;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.loading-text span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading-text span:nth-child(2) {
  animation-delay: .2s;
}

.loading-text span:nth-child(3) {
  animation-delay: .4s;
}

