page-settings {
  .text-input {
    text-align: right !important;
  }
  .primary {
    color: #387ef5;
  }
  .update-btn {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 0.955em !important;
    text-transform: none !important;
  }
}
