page-field {

  ion-content {
    background-color: #084533 !important;
  }

  canvas {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
  }

  button {
    margin: 0 !important;
    border-radius: 0 !important;
    width: 100% !important;
  }

  #canvas-menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 100vw;
  }

  #canvas-img {
    background-color: #084533 !important;
    width: 100vw;
    left: 0;
  }

  #canvas-img img {
    margin-left: auto;
    margin-right: auto;
  }

  .active-menu {
    background-color: #1a5087;
  }

  .button {
    z-index: 101;
  }

  .button-md {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .palette {
    z-index: 99;
    position: absolute;
    width: 100vw;
    min-height: 50vh;
    top: 0;
    padding: 10px;
    background-color: #f9f9f9;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .palette-up {
    opacity: 0.0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .palette-down {
    opacity: 1.0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  @media only screen and (max-height: 1366px)  {
    .button {
      height: 6.5rem !important;
    }
    .palette {
      top: 4.5em;
    }
  }

  @media only screen and (max-height: 1024px)  {
    .button {
      height: 6.5rem !important;
    }
    .palette {
      top: 4.8em;
      padding: 15px;
    }
  }

  @media only screen and (max-height: 736px)  {
    .button {
      height: 4.2rem !important;
    }
    .palette {
      top: 3.0em;
    }
  }

  @media only screen and (max-height: 640px)  {
    .button {
      height: 3.6rem !important;
    }
    .palette {
      top: 2.5em;
    }
  }

}
