<ion-content id="content">

  <div id="canvas-menu" class="primary-bg">
    <button id="view-btn" ion-button (click)="openViewPalette()" class="menu-button">
      <span class="fa fa-hand-paper-o"></span>
    </button>
    <button id="draw-btn" ion-button (click)="openDrawPalette()" class="menu-button">
      <span class="fa fa-pencil"></span>
    </button>
    <button id="field-btn" ion-button (click)="openFieldPalette()" class="menu-button">
      <span class="fa fa-futbol-o"></span>
    </button>
    <button id="robot-btn" ion-button (click)="openRobotPalette()" class="menu-button">
      <span class="fa fa-android"></span>
    </button>
    <button id="save-btn" ion-button (click)="openSavePalette()" class="menu-button">
      <span class="fa fa-save"></span>
    </button>
    <button id="open-btn" ion-button (click)="openFilePalette()" class="menu-button">
      <span class="fa fa-folder-open"></span>
    </button>
  </div>

  <img id="canvas-img" class="hidden" src="assets/2017-field.jpg" cache="true" />
  <canvas (tap)="resetPalettes()"></canvas>

  <div>
    <ion-fab id="undo" right top class="fixed-fab">
      <button ion-fab mini color="light" (click)="undoCanvas()"><span class="fa fa-undo"></span></button>
    </ion-fab>
    <ion-fab id="clear" right top class="fixed-fab">
      <button ion-fab mini color="light" (click)="clearCanvas()"><span class="fa fa-trash"></span></button>
    </ion-fab>
  </div>

  <div id="draw-palette" class="palette palette-up">
    <div class="palette-header">
      <span>Draw Menu</span>
    </div>
    <div class="palette-content">
      <div class="flex-content">
        <ion-range min="0" max="255" [(ngModel)]="red" color="red" color="danger" class="flex-content-item" (ionChange)="updateColor()">
          <ion-label range-left color="danger">R</ion-label>
          <ion-label range-right color="danger">{{ red }}</ion-label>
        </ion-range>
        <ion-range min="0" max="255" [(ngModel)]="green" color="green" color="secondary" class="flex-content-item" (ionChange)="updateColor()">
          <ion-label range-left color="secondary">G</ion-label>
          <ion-label range-right color="secondary">{{ green }}</ion-label>
        </ion-range>
      </div>
      <div class="flex-content">
        <ion-range min="0" max="255" [(ngModel)]="blue" color="blue" color="primary" class="flex-content-item" (ionChange)="updateColor()">
          <ion-label range-left color="primary">B</ion-label>
          <ion-label range-right color="primary">{{ blue }}</ion-label>
        </ion-range>
        <ion-range min="1" max="10" [(ngModel)]="size" class="flex-content-item" (ionChange)="updateSize()">
          <ion-label range-left color="primary">Size</ion-label>
          <ion-label range-right color="primary">{{ size }}</ion-label>
        </ion-range>
      </div>
      <ion-segment [(ngModel)]="draw_mode" color="primary" (ionChange)="updateDrawMode()">
        <ion-segment-button value="pencil">
          Pencil
        </ion-segment-button>
        <ion-segment-button value="line">
          Line
        </ion-segment-button>
        <ion-segment-button value="eraser">
          Eraser
        </ion-segment-button>
      </ion-segment>
      <div id="color-val">

      </div>
    </div>
  </div>

  <div id="field-palette" class="palette palette-up">
    <div class="palette-header">
      <span>Field Menu</span>
    </div>
    <div class="palette-content">
      <div class="field-item-row">
        <div class="field-item" tappable (click)="setObject($event)">
          <img src="assets/objects/2017/gear.png"/>
        </div>
        <div class="field-item" tappable (click)="setObject($event)">
          <img src="assets/objects/2017/wiffle_ball.png"/>
        </div>
      </div>
    </div>
  </div>

  <div id="robot-palette" class="palette palette-up">
    <div class="palette-header">
      <span>Robot Menu</span>
    </div>
    <div class="palette-content">
      <div id="manual-controls">
        <ion-input [(ngModel)]="team_number" type="number" placeholder="e.g. 3618"></ion-input>
        <ion-select [(ngModel)]="team_alliance" placeholder="Choose Alliance">
          <ion-option value="red-robot">Red Alliance</ion-option>
          <ion-option value="blue-robot">Blue Alliance</ion-option>
        </ion-select>
        <button ion-button icon-only (click)="addTeam()">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
      <div>
      </div>
      <div id="manual-robots">
        <div class="robot-row">
          <div class="robot" tappable (click)="setTeam(teams[0], $event)" *ngIf="teams[0]">
            {{ teams[0].team_number }}
          </div>
          <div class="robot" tappable (click)="setTeam(teams[1], $event)" *ngIf="teams[1]">
            {{ teams[1].team_number }}
          </div>
          <div class="robot" tappable (click)="setTeam(teams[2], $event)" *ngIf="teams[2]">
            {{ teams[2].team_number }}
          </div>
        </div>
        <div class="robot-row">
          <div class="robot" tappable (click)="setTeam(teams[3], $event)" *ngIf="teams[3]">
            {{ teams[3].team_number }}
          </div>
          <div class="robot" tappable (click)="setTeam(teams[4], $event)" *ngIf="teams[4]">
            {{ teams[4].team_number }}
          </div>
          <div class="robot" tappable (click)="setTeam(teams[5], $event)" *ngIf="teams[5]">
            {{ teams[5].team_number }}
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
