page-start {

  body {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
    position: fixed !important;
  }

  ion-card-header {
    background-color: #ececec !important;
  }

  ion-content {
    background-color: #387ef5 !important;
  }

  #logo {
    margin-top: 8%;
  }

  #spinner {
    margin-top: 75%;
    width: 25%;
    height: 25%;
    left: 37.5%;
    right: 37.5%;
  }

  #login-partial {
    margin-top: 55%;
  }

  #create-partial {
    margin-top: 55%;
  }

  #reset-partial {
    margin-top: 55%;
  }

  ion-spinner * {
    stroke: #ffffff !important;
    fill: #ffffff !important;
  }

  .partial {
    transition: 0.5s ease-in-out;
    position: fixed !important;
  }

  .startup {
    background-color: transparent !important;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    left: 25%;
    right: 25%;
  }

  .slid-up {
    transition: 0.3s ease-in-out;
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  .item-inner, .item, .input {
    padding: 0 !important;
  }

  /* START MEDIA QUERIES */
  @media only screen and (max-height: 1024px)  {
    #logo {
      margin-top: 20%;
    }
    #login-partial {
      margin-top: 77%;
    }
    #create-partial {
      margin-top: 77%;
    }
    #reset-partial {
      margin-top: 77%;
    }
  }

  @media only screen and (max-height: 736px)  {
    #logo {
      margin-top: 12.5%;
    }
    #login-partial {
      margin-top: 72%;
    }
    #create-partial {
      margin-top: 72%;
    }
    #reset-partial {
      margin-top: 72%;
    }
  }

  @media only screen and (max-height: 667px)  {
    #logo {
      margin-top: 12.5%;
    }
    #login-partial {
      margin-top: 67.5%;
    }

    #create-partial {
      margin-top: 67.5%;
    }
    #reset-partial {
      margin-top: 67.5%;
    }
  }

  @media only screen and (max-height: 640px)  {
    #logo {
      margin-top: 10%;
    }
    #login-partial {
      margin-top: 67.5%;
    }
    #create-partial {
      margin-top: 67.5%;
    }
    #reset-partial {
      margin-top: 67.5%;
    }
  }

  @media only screen and (max-height: 568px)  {
    #logo {
      margin-top: 5%;
    }
    #login-partial {
      margin-top: 55%;
    }
    #create-partial {
      margin-top: 55%;
    }
    #reset-partial {
      margin-top: 55%;
    }
  }

}
