page-start {

  body {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
    position: fixed !important;
  }

  ion-content {
    background-color: #387ef5 !important;
  }

  #logo {
    margin-top: 15%;
  }

  #spinner {
    margin-top: 75%;
    width: 25%;
    height: 25%;
    left: 37.5%;
    right: 37.5%;
  }

  #login-partial {
    margin-top: 80%;
  }

  #create-partial {
    margin-top: 80%;
  }

  ion-spinner * {
    stroke: #ffffff !important;
    fill: #ffffff !important;
  }

  .partial {
    transition: 0.5s ease-in-out;
    position: fixed !important;
  }

  .startup {
    background-color: transparent !important;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    left: 25%;
    right: 25%;
  }

  .slid-up {
    transition: 0.3s ease-in-out;
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    -o-transform: translateY(-15%);
    transform: translateY(-15%);
  }

}
