<ion-content>

  <ion-img id="logo" class="startup" src="assets/logo-possibility.png"></ion-img>
  <ion-spinner name="ios-small" id="spinner" class="startup" src="assets/preloader.gif"></ion-spinner>

  <ion-card id="login-partial" class="partial hidden">
    <ion-card-header>
      Login
    </ion-card-header>
    <ion-list inset>
      <ion-item>
        <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <div>
        <span *ngIf="loginMsg" class="danger">{{ loginMsg }}</span>
      </div>
      <div class="buttons">
        <button ion-button block (click)="login()">
          Login
        </button>
        <button ion-button block color="secondary" (click)="showCreatePartial()">
          Create an Account
        </button>
        <button ion-button block color="danger" (click)="openMainPage()">
          Go Offline
        </button>
      </div>
    </ion-list>
  </ion-card>

  <ion-card id="create-partial" class="partial" style="transform: translateX(125%)">
    <ion-card-header>
      Create an Account
    </ion-card-header>
    <ion-list inset>
      <ion-item>
        <ion-input type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
        <ion-input type="number" placeholder="Team #" [(ngModel)]="team"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Email" [(ngModel)]="newEmail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="newPass"></ion-input>
      </ion-item>
      <div>
        <span *ngIf="invalidMsg" class="danger">{{ invalidMsg }}</span>
      </div>
      <div class="buttons">
        <button ion-button block (click)="validateInfo()">
          Create Account
        </button>
        <button ion-button block color="danger" (click)="showLoginPartial()">
          Cancel
        </button>
      </div>
    </ion-list>
  </ion-card>

</ion-content>
