page-start {

  ion-content {
    background-color: #387ef5 !important;
  }

  #logo {
    margin-top: 15%;
  }

  #spinner {
    justify-content: flex-start;
    align-content: flex-start;
    width: 25%;
    height: 25%;
  }

  ion-spinner * {
    stroke: #ffffff !important;
    fill: #ffffff !important;
  }

  .startup {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
  }

}
