<ion-header>
  <ion-navbar>
    <ion-title>{{ event.short_name }} Awards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="checkScroll($event)">

  <ion-card *ngFor="let award of event.awards">
    <ion-card-header>
      {{ award.year }} - {{ award.name }}
    </ion-card-header>
    <ion-card-content>
      <div>
        Recipients: <span *ngFor="let recipient of award.recipient_list">{{ recipient.team_number }} </span>
      </div>
    </ion-card-content>
  </ion-card>

  <button id="scroll" ion-button icon-only (click)="scrollToTop()" class="hidden">
    <ion-icon name="arrow-up"></ion-icon>
  </button>

</ion-content>
