<ion-header>
  <ion-navbar>
    <ion-title>FRC Team {{ team.team_number }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="openNotesModal()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="checkScroll($event)">
  <ion-list>
    <ion-item text-wrap>
      <ion-thumbnail item-left (click)="openPictureSheet()">
        <!-- id="{{ team.team_number }}-avatar" -->
        <img src="assets/option-robots.png" class="avatar" *ngIf="!src">
        <img src="{{ src }}" class="avatar" *ngIf="src">
      </ion-thumbnail>
      <h2>FRC Team {{ team.team_number }}</h2>
      <h3>{{ team.nickname }}</h3>
      <p>{{ team.motto }}</p>
    </ion-item>
    <ion-item *ngIf="team.team_notes">
        {{ team.team_notes }}
    </ion-item>
    <ion-item>
      Event: {{ event.short_name }}
    </ion-item>
    <ion-item>
      OPR: {{ event.stats.oprs[team.team_number] }}
    </ion-item>
  </ion-list>

  <ion-list *ngIf="sorted_matches">
    <ion-list-header>
      Upcoming Matches
    </ion-list-header>
    <ion-item *ngFor="let match of sorted_matches">
      <span>
        <b>{{ matchConverter.convert(match) }}</b>
      </span>
      <ion-grid>
        <ion-row>
          <ion-col item-left>
            <span *ngFor="let team of match.alliances.red.teams">{{ team.substring(3, team.length) }} </span>
          </ion-col>
          <ion-col item-right>
            <span *ngFor="let team of match.alliances.blue.teams">{{ team.substring(3, team.length) }} </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col item-left>
            <span class="red-score">{{ match.score_breakdown.red.totalPoints }}</span>
          </ion-col>
          <ion-col item-right>
            <span class="blue-score">{{ match.score_breakdown.blue.totalPoints }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <button id="scroll" ion-button icon-only (click)="scrollToTop()" class="hidden">
    <ion-icon name="arrow-up"></ion-icon>
  </button>

</ion-content>
