<ion-header>
  <ion-navbar>
    <ion-title>
      <span>{{ event }} - {{ team.team_number }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="team-profile-header">
    <img class="team-photo-bg" src="assets/teams_picture.jpg"/>
    <div class="flex-content">
      <div class="event-team-photo-container" tappable (click)="openPictureSheet()">
        <img class="team-photo" src="assets/option-robots.png" *ngIf="!base64_string"/>
        <img class="team-photo" src="{{ base64_string }}" *ngIf="base64_string"/>
      </div>
      <div class="team-header-info">
        <span class="team-nickname">{{ team.nickname }}</span>
        <span class="team-location">{{ team.locality }}, {{ team.region }}</span>
        <span><a href="{{ team.website }}">{{ team.website }}</a></span>
      </div>
    </div>
  </div>

  <ion-grid class="team-profile-buttons">
    <ion-row>
      <ion-col class="flex-center" width-25>
        <button ion-button full color="secondary" class="profile-button" (click)="showInfo()" id="info-btn">
          <div class="profile-button-content">
            <span class="fa fa-2x fa-question-circle"></span>
            <span>Info</span>
          </div>
        </button>
      </ion-col>
      <ion-col class="flex-center" width-25>
        <button ion-button full color="danger" class="profile-button" (click)="showPitInfo()" id="team-pit-btn">
          <div class="profile-button-content">
            <span class="fa fa-2x fa-cloud"></span>
            <span>Pit Info</span>
          </div>
        </button>
      </ion-col>
      <ion-col class="flex-center" width-25>
        <button ion-button full color="orange" class="profile-button" (click)="showStats()" id="team-stats-btn">
          <div class="profile-button-content">
            <span class="fa fa-2x fa-line-chart"></span>
            <span>Stats</span>
          </div>
        </button>
      </ion-col>
      <ion-col class="flex-center" width-25>
        <button ion-button full color="primary" class="profile-button" (click)="showMatches()" id="team-matches-btn">
          <div class="profile-button-content">
            <span class="fa fa-2x fa-calendar"></span>
            <span>Matches</span>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="team-profile-content" *ngIf="view=='info'">

    <ion-list>
      <ion-item>
        <div class="team-content-header-title">{{ team.nickname }}</div>
        <div class="team-content-header-subtitle" *ngIf="team.motto">"{{ team.motto }}"</div>
      </ion-item>
      <ion-item *ngIf="team.rank" text-wrap>
        <div class="rank-team">Rank {{ team.rank.rank }}. ({{ team.rank.ranking_score }} {{ team.rank_info.ranking_score_label }})</div>
        <div class="rank-info">
          <span>{{ team.rank_info.played_label }}: {{ team.rank.played }}</span>
          <span>{{ team.rank_info.record_label }}: {{ team.rank.record }}</span>
        </div>
        <div class="rank-info">
          <span>{{ team.rank_info.auto_label }}: {{ team.rank.auto }}</span>
          <span>{{ team.rank_info.scale_challenge_label }}: {{ team.rank.scale_challenge }}</span>
        </div>
        <div class="rank-info">
          <span>{{ team.rank_info.defense_label }}: {{ team.rank.defense }}</span>
          <span>{{ team.rank_info.goals_label }}: {{ team.rank.goals }}</span>
        </div>
      </ion-item>
      <ion-item>
        <b>Region:</b> {{ team.region }} ({{ team.locality }})
      </ion-item>
      <ion-item>
        <b>Years in FRC:</b> {{ team.years }}
      </ion-item>
    </ion-list>

  </div>

  <div class="team-profile-content" *ngIf="view=='matches' && team.matches">

    <ion-list>
      <ion-item *ngFor="let match of team.matches">
        <div class="rank-team">{{ match_converter.convert(match) }}</div>
        <ion-grid>
          <ion-row>
            <ion-col item-left>
              <span *ngFor="let team of match.alliances.red.teams">{{ team.substring(3, team.length) }} </span>
            </ion-col>
            <ion-col item-right>
              <span *ngFor="let team of match.alliances.blue.teams">{{ team.substring(3, team.length) }} </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col item-left>
              <span class="danger" *ngIf="match.score_breakdown">{{ match.score_breakdown.red.totalPoints || match.alliances.red.score }}</span>
              <span class="danger" *ngIf="!match.score_breakdown">{{ match.alliances.red.score }}</span>
            </ion-col>
            <ion-col item-right>
              <span class="primary" *ngIf="match.score_breakdown">{{ match.score_breakdown.blue.totalPoints || match.alliances.blue.score  }}</span>
              <span class="primary" *ngIf="!match.score_breakdown">{{ match.alliances.blue.score }}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
