page-event-team {
  .item-md ion-avatar {
    min-width: 8rem !important;
    min-height: 8rem !important;
  }
  .item-md ion-avatar img {
    min-width: 8rem !important;
    min-height: 8rem !important;
  }
}
