page-event-team {
  //ion-avatar {
  //  width: 8rem !important;
  //  height: 8rem !important;
  //}
  //ion-avatar img {
  //  width: 8rem !important;
  //  height: 8rem !important;
  //  padding: 2px !important;
  //}
  //
  //.avatar {
  //  border-radius: 4rem !important;
  //  border: 1px solid #2e74eb;
  //}
  //
  //.avatar > img {
  //  border-radius: 4rem !important;
  //}

  ion-img {
    background: #FFFFFF !important;
  }

}

.red-score {
  color: #ee0002;
  text-align: right;
}

.blue-score {
  color: #2e74eb;
  text-align: left;
}
