<ion-header>
  <ion-navbar>
    <ion-title>
      <span>Events - {{ events_year }} </span>
      <span *ngIf="events_district">{{ events_district.toUpperCase() }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let event of events">
    <ion-card-header class="event-content-header">
      <span class="event-content-header-title">{{ event.short_name }} {{ event.event_type_string }} Event</span>
      <span class="event-content-header-subtitle" *ngIf="event.week">{{ event.year }} - Week {{ event.week }}</span>
      <span class="event-content-header-subtitle" *ngIf="!event.week">{{ event.year }}</span>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <div>Location: {{ event.location }}</div>
          <div>Website: <a href="{{ event.website }}">{{ event.website }}</a></div>
          <div>Date: {{ event.start_date }} - {{ event.end_date }}</div>
          <button ion-button clear item-right (click)="openEventPage(event.key)">View</button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
