<ion-header>
  <ion-navbar>
    <ion-title>{{ event.short_name }} - Teams</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="checkScroll($event)">
  <ion-searchbar (ionInput)="teamFilter.filterTeams($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let team of teamFilter.getFilteredData()">
      <ion-thumbnail item-left>
        <ion-img src="assets/option-robots.png" *ngIf="!team.avatar_url" cache="true"></ion-img>
        <ion-img [src]="team.avatar_url" *ngIf="team.avatar_url" cache="true"></ion-img>
      </ion-thumbnail>
      <h2>FRC Team {{ team.team_number }}</h2>
      <h3>{{ team.nickname }}</h3>
      <p>{{ team.motto }}</p>
      <button ion-button clear item-right (click)="openTeamPage(team)">View</button>
    </ion-item>
  </ion-list>
  <!--<ion-list [virtualScroll]="teamFilter.getFilteredData()" approxItemHeight="100px" id="team-list" bufferRatio="4">-->
    <!--<ion-item *virtualItem="let team">-->
      <!--<ion-thumbnail item-left>-->
        <!--<ion-img src="assets/option-robots.png" *ngIf="!team.avatar_url" cache="true"></ion-img>-->
        <!--<ion-img [src]="team.avatar_url" *ngIf="team.avatar_url" cache="true"></ion-img>-->
      <!--</ion-thumbnail>-->
      <!--<h2>FRC Team {{ team.team_number }}</h2>-->
      <!--<h3>{{ team.nickname }}</h3>-->
      <!--<p>{{ team.motto }}</p>-->
      <!--<button ion-button clear item-right (click)="openTeamPage(team)">View</button>-->
    <!--</ion-item>-->
  <!--</ion-list>-->

  <button id="scroll" ion-button icon-only (click)="scrollToTop()" class="hidden">
    <ion-icon name="arrow-up"></ion-icon>
  </button>

</ion-content>
