body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #ffffff;
	z-index: 1;
	max-width: 100vw;
	width: 100vw;
	overflow-x: hidden;
}

.hide-y {
	overflow-y: hidden;
}

.show-y {
	overflow-y: scroll;
}

#deviceready {
	background-color: #1d2bd2;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	z-index: 999;
}

.event {
	position: relative;
	text-align: center;
}

.event img {
	width: 25%;
}

.fadeIn {
	 opacity: 0;
 }

#mobile-info-bar {
	position: fixed;
	background-color: #ffffff;
	width: 100vw;
	height: 3vh;
	top: 0;
	z-index: 998;
}

#canvas {
	margin-top: 3vh;
	z-index: 1;
}

#canvas > #actual-canvas {
	position: absolute;
	top: 3vh;
	left: 0;
	z-index: 2;
	width: 100%;
	height: inherit;
}

#options-palette {
	background-color: #ffffff;
	border-top: 1px solid #8c8c8c;
	position: fixed;
	width: 100vw;
	height: 15vh;
	z-index: 4;
	bottom: 0;
}

#options-toggle {
	background-color: #e5e5e5;
	color: #1d2bd2;
	-webkit-border-radius: 1vh;
	-moz-border-radius: 1vh;
	border-radius: 1vh;
	border: 1px solid #8c8c8c;
	font-size: 5vh;
	margin-top: -3vh;
	width: 75%;
	height: 5vh;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 996;
}

#options-toggle > span {
	transition: all 0.4s ease;
}

.palette-item {
	width: 100%;
	height: 10vh;
	padding: 10px;
	border-radius: 15px;
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}

.palette-menu {
	color: #ffffff;
	text-align: center;
	height: 10vh;
	font-size: 6vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.active-palette-item {
	background: #deefff; /* Old browsers */
	background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #deefff 0%,#98bede 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #deefff 0%,#98bede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
}

.active-menu-dialog {
	background: #deefff; /* Old browsers */
	background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #deefff 0%,#98bede 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #deefff 0%,#98bede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
}

.rotate {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

#menu {
	position: fixed;
	width: 80vw;
	height: 97vh;
	background-color: #ffffff;
	z-index: 3;
	top: 3vh;
	font-size: 5vh;
}

#menu .close-btn {
	position: relative;
	bottom: 0;
}

.normal {
	-webkit-transition: all 0.85s ease;
	-moz-transition: all 0.85s ease;
	-ms-transition: all 0.85s ease;
	-o-transition: all 0.85s ease;
	transition: all 0.85s ease;
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);
}

.slide-right {
	-webkit-transition: all 0.85s ease;
	-moz-transition: all 0.85s ease;
	-ms-transition: all 0.85s ease;
	-o-transition: all 0.85s ease;
	transition: all 0.85s ease;
	-webkit-transform: translateX(80%);
	-moz-transform: translateX(80%);
	-ms-transform: translateX(80%);
	-o-transform: translateX(80%);
	transform: translateX(80%);
}

.menu-slide-left {
	-webkit-transition: all 0.85s ease;
	-moz-transition: all 0.85s ease;
	-ms-transition: all 0.85s ease;
	-o-transition: all 0.85s ease;
	transition: all 0.85s ease;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

.options-visible {
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}

.options-hidden {
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	-webkit-transform: translateY(85%);
	-moz-transform: translateY(85%);
	-ms-transform: translateY(85%);
	-o-transform: translateY(85%);
	transform: translateY(85%);
}

.dialog {
	position: fixed;
	bottom: 15vh;
	height: 60vh;
	width: 90vw;
	left: 5vw;
	background-color: #ffffff;
	z-index: 3;
	margin: 0;
}

.dialog-hidden {
	-webkit-transition: all 0.825s ease;
	-moz-transition: all 0.825s ease;
	-ms-transition: all 0.825s ease;
	-o-transition: all 0.825s ease;
	transition: all 0.825s ease;
	-webkit-transform: translateY(150%);
	-moz-transform: translateY(150%);
	-ms-transform: translateY(150%);
	-o-transform: translateY(150%);
	transform: translateY(150%);
}

.dialog-visible {
	-webkit-transition: all 0.825s ease;
	-moz-transition: all 0.825s ease;
	-ms-transition: all 0.825s ease;
	-o-transition: all 0.825s ease;
	transition: all 0.825s ease;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}

.dialog-visible-slide-down {
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	-webkit-transform: translateY(22%);
	-moz-transform: translateY(22%);
	-ms-transform: translateY(22%);
	-o-transform: translateY(22%);
	transform: translateY(22%);
}

.dialog-visible-slide-right {
	-webkit-transition: all 0.825s ease;
	-moz-transition: all 0.825s ease;
	-ms-transition: all 0.825s ease;
	-o-transition: all 0.825s ease;
	transition: all 0.825s ease;
	-webkit-transform: translate(90%, 0%);
	-moz-transform: translate(90%, 0%);
	-ms-transform: translate(90%, 0%);
	-o-transform: translate(90%, 0%);
	transform: translate(90%, 0%);
}

.dialog-item {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #8c8c8c;
}

.dialog-close {
	position: absolute;
	top: 0;
	right: 4vw;
	font-size: 8vw;
	z-index: 900;
}

#brush-color {
	height: 3vh;
	border: 1px solid #000;
}

/* Custom Input Styles */
input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 7.5px 0;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #0000ff;
	border-radius: 25px;
	border: 1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 25px;
	width: 25px;
	border-radius: 25px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #0505ff;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #0000ff;
	border-radius: 25px;
	border: 1px solid #010101;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 25px;
	width: 25px;
	border-radius: 25px;
	background: #ffffff;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #0000fa;
	border: 1px solid #010101;
	border-radius: 50px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
	background: #0000ff;
	border: 1px solid #010101;
	border-radius: 50px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 25px;
	width: 25px;
	border-radius: 25px;
	background: #ffffff;
	cursor: pointer;
	height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
	background: #0000ff;
}
input[type=range]:focus::-ms-fill-upper {
	background: #0505ff;
}
